<h1>New Nineties Kid</h1>
<%= form_for @kid do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :created_year, "Year of Birth:" %>
    <%= f.number_field :created_year, min: 1982, max: 1996 %>
  </div>
  <%= f.submit %>
<% end %>